{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

    <div class="container d-flex flex-column min-vh-100">
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-md-6">
                <form class="border border-light p-5" method="POST"  style="background-color: rgba(143,178,102,0.31)">
                    <p class="h4 mb-4 text-center">Create Group</p>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-row mb-2">
                        <div class="col">
                            <!-- name -->
                            <div class="form-group">
                                {{ form.name.errors }}
                                {% render_field form.name  class="form-control" %}
                            </div>
                        </div>
                        <div class="col">
                            <!-- color-->
                            <div class="form-group">
                                {{ form.color.errors }}
                                {% render_field form.color  class="form-control" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                     <!-- users-->
                    {% if form.friends.field.choices.queryset.all|length > 0 %}
                        {% for friend in form.friends %}
                            <div class="custom-control custom-checkbox h5">
                                {{ friend }}
                            </div>
                        {% endfor %}
                    {% else %}
                    <h5>you have no friends to add</h5>
                    {% endif %}
                    </div>
                    <button class=" btn btn-info my-4 btn-block" type="submit">submit</button>
                     <a type="button" href="{% url "main:calendar" %}" class="btn btn-info my-4 btn-block">home</a>

                </form>
            </div>
        </div>
    </div>

{% endblock %}


