{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-around align-items-center">

            <div class="col-md-4">
                {% include "account/signup.html" with form=signup_form %}
            </div>

            <div class="col-md-4">
                <form class="border border-light p-5 login" method="POST" action="{% url 'account_login' %}"
                      style="background-color: rgba(245,221,93,0.63)">
                    <p class="h4 mb-4 text-center">Sign in</p>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.login.errors }}
                        {% render_field form.login  class="form-control" %}
                    </div>
                    <div class="form-group">
                        {{ form.password.errors }}
                        {% render_field form.password  class="form-control" %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       name="{{ form.name.remember }}"
                                       class="custom-control-input"
                                       id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="primaryAction btn btn-info my-4 btn-block" type="submit">{% trans "Sign In" %}</button>
                    <div class="text-center">
                        <p>or sign in with:</p>
                        {% load socialaccount %}
                        {% providers_media_js %}
                        <a href="{% provider_login_url "google" method="js_sdk" %}"
                           class="btn btn-white btn-rounded z-depth-1a" role="button">
                            <i class="fab fa-google-plus-g blue-text"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


