{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% load widget_tweaks %}
<form class="text-center border border-light p-5 signup" id="signup_form" method="post"
      action="{% url 'account_signup' %}" style="background-color: rgba(245,221,93,0.63)">
    <p class="h4 mb-4">Sign up</p>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row mb-2">
        <div class="col">
            <!-- First name -->
            <div class="form-group">
                {{ form.username.errors }}
                {% render_field form.username  class="form-control" %}
            </div>
        </div>
        <div class="col">
            <!-- E-mail -->
            <div class="form-group">
                {{ form.email.errors }}
                {% render_field form.email  class="form-control" %}
            </div>
        </div>
    </div>
    <!-- Password -->
    <div class="form-group">
        {{ form.password1.errors }}
        {% render_field form.password1  class="form-control" %}
    </div>

    <div class="form-group">
        {{ form.password2.errors }}
        {% render_field signup_form.password2  class="form-control" %}
    </div>

    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>
    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>

    <!-- Social register -->
    <p>or sign up with:</p>

    {% load socialaccount %}
    {% providers_media_js %}
    <a href="{% provider_login_url "google" method="js_sdk" %}"
       class="btn btn-white btn-rounded z-depth-1a" role="button">
        <i class="fab fa-google-plus-g blue-text"></i></a>
    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>
</form>



