<!-- GroupCal/templates/main/calendar.html -->
{% extends 'base.html' %}
{% load get_dict_item %}

{% block script %}

    <script>
        /** to do:
         * fix event update
         * delete users fro groups
         * permissions
         * see event ?
         * delete events
         **/

        document.addEventListener('DOMContentLoaded', function() {
            var source_obj= [
                {% for g in events %}
                    {
                        groupId: {{ g.group_id }},
                        events:
                            [
                                {% for i in g.group_events %}
                                    {
                                        id: '{{ i.id }}',
                                        title:'{{ i.title}}',
                                        description: '{{ i.description}}',
                                        start: '{{ i.start }}',
                                        end: '{{ i.end }}',
                                        extendedProps: {
                                            to_do: '{{ i.to_do }}',
                                            charge_num: '{{ i.charge_num }}',
                                            user_id:  '{{ i.user_id }}',
                                        },
                                    },
                                {% endfor %}
                            ]
                    },
                {% endfor %}
            ];
            function get_calendar_height() {
                return $(window).height()-30;
            }
            let add_to_in_charge_msg = document.getElementById("success-alert");
            let current_event = null;
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                defaultView: 'dayGridMonth',
                editable: true,
                selectable: true,
                height: get_calendar_height(),
                customButtons: {
                    mySideNav: {
                        className: 'button-collapse black-text',
                        click: function() {
                            $('#fluidModalSuccess').modal('show')
                        }
                    }
                },
                headerToolbar: {
                    left: 'mySideNav prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                windowResize:  function(view) {
                    calendar.setOption('height', get_calendar_height());
                },

                dateClick: function(info) {
                    $('#createEventModal').modal('show');
                    $('#id_take_on_event').click(function () {
                        $("#id_charge_num").attr('disabled', !this.checked)
                    });
                    $('#eventForm').submit(function (e) {
                        e.preventDefault();
                        let title=$('#id_title').val();
                        let description=$('#id_description').val();
                        let date = info.dateStr;
                        let to_do = $('#id_take_on_event').val();
                        let charge_num = $('#id_charge_num').val();
                        $.ajax({
                            type: 'POST',
                            url: '{%  url "events:event-create" %}',
                            data: {
                                current_group: '{{ object.pk }}',
                                title: title,
                                description: description,
                                start_hour: $('#id_start_hour').val(),
                                end_hour: $('#id_end_hour').val(),
                                date: date,
                                to_do: to_do,
                                charge_num: charge_num,
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function (response) {
                                /** event has created
                                 * hide the form window
                                 * add the event to the calendar
                                 ***/
                                $('#createEventModal').modal('hide');
                                let new_event = {
                                    id: response.instance_id,
                                    title: title,
                                    description: description,
                                    start: response.start_time,
                                    end: response.end_time,
                                    extendedProps: {
                                        to_do: to_do,
                                        charge_num: charge_num,
                                    },
                                };
                                calendar.addEvent(new_event);
                            },
                            error: function (rs, e) {
                                console.log(rs.responseText);
                            }
                        });
                    });
                },


                eventClick: function(info) {
                    /**event window is open so user can:
                     * add them self to users in charge list
                     * update the event (if they created it -- verify in update_event_window(info))
                     **/
                    info.jsEvent.preventDefault();
                    current_event = info;
                    /*** fetch the event data from the server and display the info according to it type (to do or not to do)
                     * check if someone need to do the event:
                     *  info.event.extendedProps.to_do === 'False':
                     *  dont show the list of users that in charge to do the event
                     *
                     * info.event.extendedProps.to_do === 'True':
                     * send the event id to the server
                     * get the users list that in charge to do the event from the serer
                     * show the list in event window
                     *
                     ***/
                    if (info.event.extendedProps.to_do === 'False') {
                        clear_event_data();
                        update_event_window(info);
                    } else {
                        fetch(`http://127.0.0.1:8000/event-detail/${info.event.id}/`, {
                            method: 'GET',
                            headers: {
                                'Content-type': 'application/json',
                            },
                        }).then(response => response.json())
                            .then(data => {
                                console.log(data);
                                show_in_charge_users(data.charge_users);
                                clear_event_data();
                                update_event_window(info);
                                document.getElementById("eventToDoBtn").addEventListener("click", function () {
                                    /** event is a to do event and user want to add himself to
                                     * the list of users that in charge -->> check with the server:
                                     * that the user is not in the list
                                     * the list is not full
                                     * the event is a to do event (just in case)
                                     **/
                                    fetch(`http://127.0.0.1:8000/event-update-users/${info.event.id}/`, {
                                        method: 'PUT',
                                        headers: {
                                            'Content-type': 'application/json',
                                            'X-CSRFToken':'{{ csrf_token }}',
                                        },
                                    })
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log(data);
                                            switch (data) {
                                                case 0:
                                                    let ul = document.getElementById("eventChargeUsers");
                                                    let li = document.createElement('li');
                                                    li.className = "list-group-item";
                                                    li.appendChild(document.createTextNode('{{ user }}'));
                                                    ul.appendChild(li);
                                                    break;
                                                case 1:
                                                    add_to_in_charge_msg.innerHTML = 'you already in this list';
                                                    add_to_in_charge_msg.style.display = 'block';
                                                    break;
                                                case 2:
                                                    add_to_in_charge_msg.innerHTML = 'this list is full';
                                                    add_to_in_charge_msg.style.display = 'block';
                                                    break;
                                            }
                                        });
                                });
                            });
                    }
                },

                eventDrop: function (info) {
                    {#if (info.event.start !== info.oldEvent.start || info.event.end !== info.oldEvent.end){#}
                    $.ajax({
                        type: 'GET',
                        url: '{%  url "events:ajax_event_change_date" %}',
                        data: {
                            event_id: info.event.id,
                            new_date_start: info.event.start.toISOString(),
                            new_date_end: info.event.end.toISOString(),
                        },
                        success: function(response) {
                            console.log(response)

                        },
                        error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        },
                    });
                },
            });

            calendar.render();

            var groups = document.getElementsByClassName("filterEventsByGroup");
            for(let i=0;i < groups.length; i++)
            {
                groups[i].addEventListener("change", function() {
                    if (this.checked === true) {
                        for (let j = 0; j < source_obj.length; j++) {
                            if (source_obj[j].groupId === parseInt(this.value)) {
                                calendar.addEventSource(source_obj[j]);
                                console.log(calendar.getEventSources())
                            }
                        }
                    }
                    else {
                        for (let k = 0; k < calendar.getEventSources().length; k++) {
                            var source_group_id = calendar.getEventSources()[k].internalEventSource.extendedProps.groupId;
                            if (source_group_id === parseInt(this.value)) {
                                calendar.getEventSources()[k].remove()
                            }
                        }
                    }
                });
            }


            function update_event_window(info){
                document.getElementById("eventLabel").innerHTML = info.event.title;
                document.getElementById("eventDescription").innerHTML = info.event.extendedProps.description.toString();
                document.getElementById("eventStart").innerHTML = info.event.start;
                document.getElementById("eventEnd").innerHTML = info.event.end;
                document.getElementById("eventToDoBtn").disabled = info.event.extendedProps.to_do === "False";
                console.log('{{ user.pk }}');
                console.log(info.event.extendedProps.user_id);
                if('{{ user.pk }}' === info.event.extendedProps.user_id){
                    document.getElementById('UpdateEventBtn').style.display ='inline';
                    document.getElementById('UpdateEventBtn').addEventListener("click", function () {
                        $('#eventDetails').modal('hide');
                        update_event_form(info);
                    });
                }
                else{
                    document.getElementById('UpdateEventBtn').style.display ='none';
                }
                $('#eventDetails').modal('show');
            }

            function show_in_charge_users(users_list) {
                $("#eventToDoBtn").disabled = false;
                let ul = document.getElementById("eventChargeUsers");
                for (let i = 0; i < users_list.length; i++){
                    let name = users_list[i];
                    console.log(name);
                    let li = document.createElement('li');
                    li.className ="list-group-item";
                    li.appendChild(document.createTextNode(name));
                    ul.appendChild(li);
                }
            }

            function update_event_form(info){
                console.log(info);
                document.getElementById("id_title").value = info.event.title;
                document.getElementById("id_description").value = info.event.extendedProps.description.toString();
                document.getElementById("id_take_on_event").checked = info.event.extendedProps.to_do;
                document.getElementById("id_charge_num").value = info.event.extendedProps.charge_num;
                {#document.getElementById("id_start_hour").op = ;#}
                {#document.getElementById("id_end_hour").value = ;#}
                $('#createEventModal').modal('show');
            }
            function clear_event_data() {
                document.getElementById("eventLabel").innerHTML = '';
                document.getElementById("eventDescription").innerHTML = '';
                document.getElementById("eventStart").innerHTML = '';
                document.getElementById("eventEnd").innerHTML = '';
                $('#eventChargeUsers').empty();
                add_to_in_charge_msg.innerHTML = '';
                add_to_in_charge_msg.style.display = 'none';
            }

            function open_users_manager_window() {
                $('#manageUsersWindow').modal('show');
                let user_pk = 1;
                document.getElementById('DeleteUsersBtn').addEventListener('click', function () {
                    var url = `http://127.0.0.1:8000/event-detail/${user_pk}/`;
                    fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                    }).then(response => response.json())
                        .then(data => {
                            console.log(data.id);
                        }).catch(function (error) {
                        console.log('ERROR:', error)
                    });

                });
            }
        })


    </script>
{% endblock %}

{% block content %}
    {#    {% include 'main/side_nav.html' %}#}
    <div class="container-fluid p-2">

        <div class="row ">
            <div class="col" id='calendar'></div>
            <div class="col-4 col-md-2 border">

                <ul class="list-group list-group-flush my-5 ml-3">
                    <!-- Side navigation links -->
                    <li><a class="collapsible"  data-toggle="collapse" data-target="#collapseUsers"
                           aria-expanded="false" aria-controls="collapseUsers"><i class="fas fa-user-friends fa-sm"></i> see users in group<i class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapse" id="collapseUsers">
                            <ul class="list-group">
                                {% for user in users_in_group %}
                                    <li><a href="#" class="waves-effect">
                                        {{ user.username }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>

                    <li><a class="collapsible"  data-toggle="collapse" data-target="#collapseGroups"
                           aria-expanded="false" aria-controls="collapseGroups"><i class="fas fa-layer-group fa-sm"></i> your groups
                        <i class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapse" id="collapseGroups">
                            <ul class="list-group mr-auto">
                                {% for group in user_groups %}
                                    <li>  <input type="checkbox" class="form-check-input filterEventsByGroup" id="groupCheckBox" value="{{ group.id }}">
                                        <label class="form-check-label" for="groupCheckBox"> {{ group.name }}</label> </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible"  data-toggle="collapse" data-target="#collapseOptions"
                           aria-expanded="false" aria-controls="collapseOptions"><i class="fas fa-filter fa-sm"></i> more options<i class="fas fa-angle-down rotate-icon"></i></a>
                        <div class="collapse" id="collapseOptions">
                            <ul class="list-group">
                                <li><a href="#" class="waves-effect">See your event</a></li>
                                <li><a href="#" class="waves-effect">logout</a></li>

                            </ul>
                        </div>
                    </li>
                    <!--/. Side navigation links -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Central Modal Medium Success -->
    <div class="modal fade modal-right" id="fluidModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success modal-full-height" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Modal Success</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">

                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a type="button" class="btn btn-success">Get it now <i class="far fa-gem ml-1 text-white"></i></a>
                    <a type="button" class="btn btn-outline-success waves-effect" data-dismiss="modal">No, thanks</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Central Modal Medium Success-->



    <!-- Manage users PopUp -->
    <div class="modal fade" id="manageUsersWindow" tabindex="-1" role="dialog" aria-labelledby="manegeUsersModal"
         aria-hidden="true">
        <div class="modal-dialog modal-m " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 font-weight-bold text-center" id="eventLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column" id="eventContent">
                    {% for user in users_in_group %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="{{ user.id }}">
                            <label class="form-check-label" for="{{ user.id }}">{{ user.username }}</label>
                        </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary btn-sm" id="DeleteUsersBtn">Delete users</button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEventWindow'">Close</button>
                    <button type="button" class="btn btn-primary" id="addUsersToGroup">add users</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Manage users PopUp -->


    <!-- Event Detail PopUp -->
    <div class="modal fade" id="eventDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-m " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100 font-weight-bold text-center" id="eventLabel"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column" id="eventContent">
                    <p class="text-center" id="eventDescription"></p>
                    <span>start at:<p class="text-center" id="eventStart"></p></span>
                    <span>end at:<p class="text-center" id="eventEnd"></p></span>
                    <div class="alert alert-success" id="success-alert" style="display:none">
                        <button type="button" class="close" >x</button>
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    <ul class="list-group list-group-flush" id="eventChargeUsers" title="How is doing?">How is doing?</ul>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="eventToDoBtn" type="button" class="btn btn-blue-grey">Do it</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEventWindow'">Close</button>
                    <button type="button" class="btn btn-primary" id="UpdateEventBtn">Update Event</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Detail PopUp -->


    <!-- Create Event Form -->
    <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add Event</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="eventForm" action="{% url "events:event-create" %}">
                    <div class="modal-body mx-3">
                        {% csrf_token %}
                        {{ eventForm.as_p }}
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" id="submitButton" class="btn btn-unique">Save<i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
{% endblock %}
<!-- Create Event Form -->

