@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: rgba(56, 65, 104, 0.27);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.group-dropdown::after{
     right: -10px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul p {
    color: #464646;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: black;
}


#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
}

ul ul > li{
    font-size: 1em !important;
    padding-left: 20px;
    background: rgba(136, 148, 226, 0.26);
}

#friendsSubmenu{
    font-size: 1em !important;
    padding-left: 20px;
    background: rgba(136, 148, 226, 0.26);
}
